<div class="receive-options {{if hidden 'hidden'}}">
  <div class="{{unless item.quantity 'disabled'}} {{unless ordersPackage.item.quantity 'disabled'}}">
    <i class="fa item-menu fa fa-shopping-basket"></i>
    {{t "item.designate"}}
  </div>
</div>
