<div class="{{if item.hasAllPackagesDispatched 'disabled'}}" {{action 'displayRemoveOverlay'}}>
  <i class="fa item-menu fa-chain-broken"></i>
  {{t "item.separate"}}
</div>

{{#message-box btn1Text="Separate" btn1Callback=(action "removeItemFromSet") btn2Text=(t "cancel") btn2Callback=(action "closeItemOptions") isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}

  <p>Are you sure, you want to separate this item from its set? This cannot be undone.</p>

{{/message-box}}
