.designate-form {
  text-align: left;

  .item_block {
    padding: 0 0.7rem 1rem;

    .dispatch_details {
      margin-bottom: 0;
    }
  }

  p {
    font-weight: bolder;
  }

  .button {
    width: 40%;
    color: $white !important;
  }

  .warnings {
    font-size: 0.75rem;
    color: $coral-red;

    .warning_text {
      margin: 0.5rem 0;
    }
  }

  label {
    color: black;
    font-size: 0.75rem;
    vertical-align: middle !important;
    margin-left: 0rem !important;
    margin-top: 0.5rem;
  }

  .left-icon {
    display: inline-block;
  }
  .right-message {
    width: 93%;
    display: inline-block;
    float: right;

    a {
      display: inline;
      color: $coral-red !important;
      text-decoration: underline;
      background-color: inherit;
    }
  }
  .designate-message, .move-message {
    margin: 0 0 4% -3%;
    display: inline-block;
    @media #{$small-only} {
      margin: 0 0 4% -2%;
    }
    @media #{$medium-only} {
      margin: 0 0 4% 2%;
    }
  }

  .error-box {
    border-color: $coral-red !important;
    background: $light-pitch !important;
    padding: 0.3rem;
    padding-left: 0.5rem;
    margin-top: 1.2rem;
    font-size: 0.72rem;

    i {
      margin-right: 0.2rem;
      color: $coral-red;
    }
  }

  .item_block.set_item_info {
    padding: 0 0.3rem;
  }

  .red-warning {
    color: $coral-red !important;
  }
}
