<div class="row item_block set_item_info">
  {{partial "items/item_status_bar_without_link"}}

  <div class="row other_details item_details">
    <div class="small-12 columns name_details">
      <div class="ellipsis name one-line-ellipsis">{{item.quantity}} x {{item.code.name}}</div>
    </div>
  </div>
</div>
