<div class="footer">
  <div class="navigation_menus">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-3 list">
          {{#link-to 'items.detail' model tagName='li' href=false}}
            <i class="fa fa-file-text" aria-hidden="true"></i> Details
          {{/link-to}}

          <li><i class="fa fa-clock-o" aria-hidden="true"></i>History</li>
          <li><i class="fa fa-comments-o" aria-hidden="true"></i>Staff</li>
        </ul>
      </div>
    </div>
  </div>
</div>
