/*
    Goodcity common colors
*/

$submitted-state-color: #558CC6;
$processing-state-color: #E25955;
$scheduled-state-color: #7DA857;
$dispatching-state-color: #051D3F;
$cancelled-state-color: #000000;
$closed-state-color: #000000;

