<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="0" id="hk.goodcity.stockstaging" ios-CFBundleVersion="0" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>S. Stock</name>
    <description>
    GoodCity Stock Application
  </description>
    <author href="https://www.crossroads.org.hk">Crossroads</author>
    <content src="index.html" />
    <hook src="scripts/update_build_number.py" type="before_prepare" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <allow-intent href="http://*/*" launch-external="yes" />
    <allow-intent href="https://*/*" launch-external="yes" />
    <platform name="android">
        <preference name="LoadUrlTimeoutValue" value="120000" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="Orientation" value="portrait" />
        <icon density="ldpi" src="res/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/android/drawable-xxxhdpi/icon.png" />
        <splash density="port-ldpi" src="res/android/drawable-ldpi/screen.png" />
        <splash density="port-mdpi" src="res/android/drawable-mdpi/screen.png" />
        <splash density="port-hdpi" src="res/android/drawable-hdpi/screen.png" />
        <splash density="port-xhdpi" src="res/android/drawable-xhdpi/screen.png" />
        <splash density="port-xxhdpi" src="res/android/drawable-xxhdpi/screen.png" />
        <splash density="port-xxxhdpi" src="res/android/drawable-xxxhdpi/screen.png" />
    </platform>
    <platform name="ios">
        <icon height="16" src="res/ios/Icon-App-16x16@1x.png" width="16" />
        <icon height="32" src="res/ios/Icon-App-16x16@2x.png" width="32" />
        <icon height="48" src="res/ios/Icon-App-16x16@3x.png" width="48" />
        <icon height="20" src="res/ios/Icon-App-20x20@1x.png" width="20" />
        <icon height="40" src="res/ios/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="res/ios/Icon-App-20x20@3x.png" width="60" />
        <icon height="55" src="res/ios/Icon-App-27.5x27.5@2x.png" width="55" />
        <icon height="29" src="res/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="res/ios/Icon-App-29x29@3x.png" width="87" />
        <icon height="32" src="res/ios/Icon-App-32x32@1x.png" width="32" />
        <icon height="64" src="res/ios/Icon-App-32x32@2x.png" width="64" />
        <icon height="40" src="res/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" src="res/ios/Icon-App-50x50@1x.png" width="50" />
        <icon height="100" src="res/ios/Icon-App-50x50@2x.png" width="100" />
        <icon height="57" src="res/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="res/ios/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" src="res/ios/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="res/ios/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="res/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="167" src="res/ios/Icon-App-83.5x83.5@2x.png" width="167" />
        <icon height="256" src="res/ios/Icon-App-83.5x83.5@3x.png" width="256" />
        <icon height="172" src="res/ios/Icon-App-86x86@2x.png" width="172" />
        <icon height="88" src="res/ios/Icon-App-44x44@2x.png" width="88" />
        <icon height="98" src="res/ios/Icon-App-98x98@1x.png" width="98" />
        <icon height="196" src="res/ios/Icon-App-98x98@2x.png" width="196" />
        <icon height="1024" src="res/ios/Icon-App-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <feature name="StatusBar">
            <param name="ios-package" onload="true" value="CDVStatusBar" />
        </feature>
        <preference name="Orientation" value="portrait" />
        <preference name="Fullscreen" value="true" />
        <edit-config file="*-Info.plist" mode="merge" overwrite="true" target="NSCameraUsageDescription">
            <string>To enable you to read inventory barcodes and photograph inventory items.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Needs photo library access to get photos from there</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Needs photo library access to save photos</string>
        </edit-config>
    </platform>
    <engine name="ios" spec="https://github.com/apache/cordova-ios.git#4.5.5" />
    <engine name="android" spec="~6.3.0" />
    <engine name="windows" spec="~4.3.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.1" />
    <plugin name="cordova-plugin-actionsheet" spec="https://github.com/EddyVerbruggen/cordova-plugin-actionsheet.git" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/wildabeast/BarcodeScanner.git" />
    <plugin name="com-sarriaroman-PhotoViewer" spec="https://github.com/sarriaroman/photoviewer.git" />
    <plugin name="cordova-plugin-apprate" spec="https://github.com/pushandplay/cordova-plugin-apprate.git" />
    <plugin name="cordova-plugin-globalization" spec="https://github.com/apache/cordova-plugin-globalization.git" />
    <plugin name="cordova-plugin-inappbrowser" spec="https://github.com/apache/cordova-plugin-inappbrowser.git" />
    <plugin name="cordova-plugin-dialogs" spec="https://github.com/apache/cordova-plugin-dialogs.git" />
    <plugin name="phonegap-plugin-push" spec="~1.9.2">
        <variable name="SENDER_ID" value="XXXXXXX"/>
    </plugin>
</widget>
