.order_fixed_header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.order_tabs{
  margin: -0.5rem 0 1rem 0;
  .tabs-content {
    background-color: inherit;
    color: inherit;
  }
  .row{
    .tab_row {
      .tabs {
        margin-left: -0.7rem !important;
        margin-right: -0.7rem !important;
        border-bottom: 1px solid #334f75 !important;
        @media #{$small-only} {
          i {
            font-size: 1.1rem !important;
          }
          div {
            font-size: 0.8rem !important;
          }
        }
        i {
          font-size: 1.75rem;
        }
        div {
          font-size: 1.1rem;
        }
        dd.active {
          border-bottom: 3px solid #334f75 ;
          a:after {
            border-width: 0px !important;
          }
        }
      }
    }
  }
}

.order_item_list_tabs{
  margin: -0.5rem 0 1rem 0;
  .tabs-content {
    background-color: inherit;
    color: inherit;
  }
  .row{
    .tab_row {
      .tabs {
        margin-left: -0.7rem !important;
        margin-right: -0.7rem !important;
        border-bottom: 1px solid #334f75 !important;
        @media #{$small-only} {
          div {
            font-size: 0.9rem !important;
          }
        }
        div {
          font-size: 1.1rem;
        }
        dd.active {
          border-bottom: 3px solid #334f75 ;
          a:after {
            border-width: 0px !important;
          }
        }
      }
    }
  }
}


.options {
  float: right;
  margin-top: -0.15rem;
  font-size: 1.1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.options_menu_list {
  width: 12rem;
  margin-right: 1.2rem;
  background-color: #002136;
  margin-top: 2.5rem;
  position: absolute;
  z-index: 100;

  @media #{$small-only} {
    width: 10.5rem;
    margin-left: -5rem;
  }

  /* box-shadow style */
  -webkit-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);

  .option_menu {
    padding: 0 1rem;
    line-height: 2.8rem;

    i {
      margin: 0 0.3rem 0 0rem !important;
    }
  }

  .add_item_option {
    border-bottom: 0.1rem solid #334f75;
  }

  .merge_option {
    border-top: 0.1rem solid #334f75;
  }

  a {
    float: none;

    @media #{$small-only} {
      font-size: 0.85rem;
    }
  }
}

.order_page {
  padding-top: 2.8rem;

  .order-status {
    text-align: center;
    margin-bottom: 1.2rem;
    height: 2rem;
    background-color: #a67c52;
    padding: 0.3rem 0.8rem;
    color: $white;

    @media #{$small-only} {
      line-height: 1.6rem;
      padding: 0 0.8rem;
      height: 1.7rem;
      font-size: 0.8rem;
    }

    a {
      text-decoration: underline;
    }

    .time-details {
      display: inline;
      float: left;
    }

    .state {
      display: inline;
      float: right;
    }

    div {
      display: inline;
    }
  }

  .gc-submitted-color {
    background-color: #fe8329;
  }

  .gc-processing-color {
    background-color: #f34d4f;
  }

  .gc-cancelled-color {
    background-color: #000;
    height: 2.7rem !important;
    @media #{$small-only} {
      height: 2rem !important;
    }
  }

  .gc-awaiting_dispatch-color {
    background-color: #6fab4a;
  }

  .gc-dispatching-color {
    background-color: #001C42;
  }

  .gc-closed-color {
    background-color: #428bca;
    height: 2.7rem !important;
    @media #{$small-only} {
      height: 2rem !important;
    }
  }

  .gc-order-status {
    text-align: center;
    margin-bottom: 1.2rem;
    height: 5.7rem;
    padding: 0.3rem 0.8rem;
    color: $white;

    @media #{$small-only} {
      line-height: 1.6rem;
      padding: 0 0.8rem;
      height: 5rem;
      font-size: 0.8rem;
    }

    .status {
      padding-top: 0.3rem;

      @media #{$small-only} {
        margin: -0.1rem 0 -0.1rem 0 !important
      }
    }

    button {
      width: 50%;
      padding: 0.1rem;
      height: 45px;
      background-color: inherit !important;
      border-color: white;
      margin-top: 0.3rem;

      @media #{$small-only} {
        margin: 0.4rem;
        width: 95% !important;
        height: 42px !important;
        font-size: 0.8rem;
      }

      @media #{$medium-only} {
        width: 90% !important;
      }

      @media #{$large-only} {
        width: 75% !important;
      }
    }

    a {
      text-decoration: underline;
    }

    .time-details {
      display: inline;
    }

    div {
      display: inline;
    }
  }

  .contact_details {
    margin-top: 1rem !important;
  }

  .main_details {
    margin: -1rem 0.3rem;
    font-size: 0.8rem;
    border-bottom: 1px solid;

    .row {
      margin: 0.8rem 0;
    }

    .icons {
      text-align: center;
      font-size: 1.5rem;
      top: -0.2rem;
    }

    a {
      color: inherit !important;
    }

    .arrow-icon {
      float: right;
    }
  }

  .client_details {
    padding: 1rem;
    border-bottom: 1px solid;

    .row {
      padding: 0.2rem 0;
    }
  }

  .item_count {
    padding: 1rem;
    font-size: 1.2rem;

    @media #{$large-only} {
      text-align: center;
    }

    @media #{$small-only} {
      font-size: 0.8rem;
    }

    span {
      color: white;
      padding-right: 1rem;
    }
  }

  .add_item_button {
    padding: 0 0.7rem;
    .columns {
      &:first-child {
        padding-right: 0.1rem !important;
      }

      &:last-child {
        padding-left: 0.1rem !important;

        button {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          @media #{$small-only} {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
          }

          i {
            font-size: 1.5rem;
          }
        }
      }

    }
  }

  .show_more {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  }

  .other_details {
    .row {
      padding: 0.5rem;
    }

    .heading {
      color: white;
      font-size: 1.2rem;

      @media #{$small-only} {
        font-size: 0.8rem;
      }
    }
  }
}

.item_header {
  margin-top: 1.5rem !important;
}

.item_block {
  padding: 0 1.3rem 1rem;
  color: $white;

  a {
    display: block;
    color: $white !important;
  }

  @media #{$small-only} {
    font-size: 0.7rem;
  }

  .other_details {
    border: 1px solid #334F75;
    border-top: none;
    max-height: 4.5rem;
    overflow: hidden;
    background-color: #002353;
  }

  .name_details {
    float: left !important;
    padding-top: 0.3rem !important;
    padding-left: 0.5rem !important;

    .name {
      color: $white;
      padding-bottom: 0.3rem;
    }
  }

  .image {
    padding: 0;

    img {
      width: 5rem;
      height: auto;
    }
  }

  .set-link {
    margin: 0.8rem 0.6rem 0.8rem 0;
    padding: 0.5rem;
    border: white 1px solid;
    max-width: 3.5rem;
    float: right;
  }

  .item_details {
    padding: 0 !important;
  }
}

.cancel_orders_package {
  background-color: $black !important;
}

.dispatch_details {
  color: $white;
  padding: 0.5rem;
  background-color: #438BCA;
  i {
    color: $white;
  }

  div {
    padding: 0;
    &:last-child {
      text-align: end;
    }
  }

  .location-name {
    text-align: center;
    word-break: break-all;
  }
}

.designated {
  background-color: #334f75;
}

.dispatched {
  background-color: #001C42;
}

.confirm_quantity {
  font-size: 0.75rem;
  margin-left: -4px;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.warnings {
  font-size: 0.75rem;
  color: $coral-red;
  margin-left: -4px;
  margin-top: 4px;

  .warning_text {
    margin: 0.5rem 0;
    display: inline-flex;
  }
}

.right-message {
  width: 100%;
  display: inline-block;
  float: right;
  margin-left: 5px;
}
