$header-height: 3em;

.orders_search_result {
  padding-top: 3rem;
  
  li.order_block {
    border: none;
    padding-left: 0;
    padding-right: 0;


    .order_process_summary .value {
      >span {
        margin-right: 0.7em;
      }
    }


    // ------------
    // HEADER
    // ------------

    .order_header {
      background-color: #384F72;
      padding-left: 1em;
      padding-top: 0;
      height: $header-height;
      line-height: $header-height;

      .order_transport, .order_code {
        color: white;

        .fa {
          margin-right: 0.5em;
          margin-left: 0.5em;
        }
      }

      .order_state {
        text-transform: capitalize;

        >div {
          float: right;
        }

        .order_state_text {
          padding-right: 1em;
        }

        .order_state_icon {
          color: white;
          height: $header-height;
          width: $header-height;

          .fa {
            margin-left: 1em;
          }

          &.submitted {
            background-color: $submitted-state-color;
          }
          &.scheduled, &.awaiting_dispatch {
            background-color: $scheduled-state-color;
          }
          &.cancelled {
            background-color: $cancelled-state-color;
          }
          &.dispatching {
            background-color: $dispatching-state-color;
          }
          &.processing {
            background-color: $processing-state-color;
          }
          &.closed {
            background-color: $closed-state-color;
          }
        }
      }

    }

    // ------------
    // DETAILS
    // ------------

    .order_body {

      padding-top: 1em;

      .field {
        padding-left: 2em;
        opacity: 0.8;
      }
      .value {
        color: white;
        padding-left: 0.5em;
      }
    }
  }


}

.absolute {
  position: absolute;
}

.no-padding {
  padding-bottom: 0;
}

.loading_screen {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin-top: 15rem;

  @media #{$small-only} {
    margin-top: 11.5rem;
  }
}

.building_name {
  text-align: right;
  padding-right: 1.5rem !important;
}
