.search-box {
  position: relative;
  padding: 0;
  background-color: $light-grey;
  z-index: 1000;

  input {
    padding-left: 0.5rem;
    width: 97.5%;
    margin: 0.5rem;
    border-radius: 0.25rem;

    @media #{$small-only} {
      width: 95%;
    }
  }

  i {
    position: absolute;
    right: 2.5%;
    top: 0.93rem;
    color: $black;
    font-size: 1.2rem;
    cursor: pointer;

    @media #{$small-only} {
      font-size: 1rem;
      padding: 0.5rem 0.5rem;
      top: 0.41rem;
    }
  }

  a {
    color: $medium-blue !important;
    text-decoration: underline;
    top: 0.6rem;
    margin-top: 0.6rem;
    right: 3%;
    font-size: 1.1rem;
    font-weight: bold;

    @media #{$small-only} {
      font-size: 0.8rem;
      top: 0.8rem;
    }
  }
}

.no_result {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
  @media #{$small-only} {
    font-size: 0.9rem;
  }
}

.search {
  padding-bottom: 5rem;
  min-height: 25rem;
  margin-top: 1.5rem;

  .columns {
    padding: 0;
  }

  .list.list-activity {
    margin-left: 0rem;
    margin-right: 0rem;
    cursor: pointer;
  }

  li {
    padding: 0.8rem 1rem;
    @media #{$small-only} {
      font-size: 0.7rem;
    }

    .state_details {
      color: $white;
      font-weight: bold;
    }

    .row {
      padding: 0.2rem 0;
    }
  }
}

.fixed_search_header {
  position: fixed;
  z-index: 1000;

  @media #{$large-up} {
    margin-left: 14.5rem;
  }
}

.orders_search_result {
  padding-top: 3rem;
}

.absolute {
  position: absolute;
}

.no-padding {
  padding-bottom: 0;
}

.loading_screen {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin-top: 15rem;

  @media #{$small-only} {
    margin-top: 11.5rem;
  }
}

.building_name {
  text-align: right;
  padding-right: 1.5rem !important;
}
