.orders_search_result {
  padding-top: 3rem;
}

.absolute {
  position: absolute;
}

.no-padding {
  padding-bottom: 0;
}

.loading_screen {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin-top: 15rem;

  @media #{$small-only} {
    margin-top: 11.5rem;
  }
}

.building_name {
  text-align: right;
  padding-right: 1.5rem !important;
}
