.items-search {

  .scan-button {
    button {
      background: none;
      border: none;
      padding-bottom: 2rem;
      margin-bottom: 0;

      i {
        font-size: 1.8rem;
        margin-top: -0.4rem;
        color: #a3aab6;
        padding-right: 0.5rem;
      }
    }
  }

  input {
    width: 98%;
  }

  a {
    text-decoration: none;
    top: 0.5rem;
    margin-left: 0;
    margin-right: -1rem;

    @media #{$small-only} {
      top: 0.6rem;
      margin-top: 0.8rem;
    }
  }

  .back_icon {
    position: static;
    color: #a3aab6;
    font-size: 2rem;
    vertical-align: bottom;
    padding: 0;
    padding-right: 0.2rem;

    @media #{$small-only} {
      font-size: 1.3rem;
    }
  }

  .back_text {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;

    @media #{$small-only} {
      font-size: 0.8rem;
      vertical-align: baseline;
    }

    .fa-tag {
      font-size: inherit;
      position: initial;
      padding: 0;
      color: #a3aab6;
    }
  }

  .fa-times-circle {
    right: 3%;
    @media #{$small-only} {
      right: 1%;
    }
  }
}

.items_search_result {
  padding-top: 4rem;

  ul {
    @media #{$small-only} {
      font-size: 0.7rem !important;
    }
  }
}

