.organisations_search {
  input {
    width: 98%;
  }
  a {
    text-decoration: none;
    top: 0.5rem;
    margin-left: 0;
    margin-right: -1rem;

    @media #{$small-only} {
      top: 0.6rem;
      margin-top: 0.8rem;
    }
  }

  .back_icon {
    position: static;
    color: #a3aab6;
    font-size: 2rem;
    vertical-align: bottom;
    padding: 0;
    padding-right: 0.2rem;

    @media #{$small-only} {
      font-size: 1.3rem;
    }
  }

  .back_text {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;

    @media #{$small-only} {
      font-size: 0.8rem;
      vertical-align: baseline;
    }
  }

  .fa-times-circle {
    right: 3%;
    @media #{$small-only} {
      right: 1%;
    }
  }
}

.organisation_search_result{
  padding-top: 3rem;
}
