<section class="main-section order_item_list_tabs">
  <div class="row">
    <div class="small-12 columns tab_row">
      <dl class="tabs" data-tab>
        {{#link-to 'orders.active_items' model.id tagName="dd" classNames="small-6 medium-6 columns text-center"}}
          {{#link-to 'orders.active_items' model.id}}
            <div>Active ({{model.ordersPackages.length}})</div>
          {{/link-to}}
        {{/link-to}}

        {{#link-to 'orders.requested_items' model.id tagName="dd" classNames="small-6 medium-6 columns text-center"}}
          {{#link-to 'orders.requested_items' model.id}}
            <div>Requests ()</div>
          {{/link-to}}
        {{/link-to}}
      </dl>
    </div>
  </div>
</section>
