<nav class="tab-bar order_fixed_header">
  <section class="left-small">
    {{#link-to 'orders' classNames="back"}}
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div>Back</div>
    {{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Order: L21654</h1>
  </section>

  <section class="right-small">
    <a><i class="fa fa-ellipsis-v options"></i></a>
  </section>
</nav>

<section class="main-section order_page">
  <div class="row">
    <div class="small-12 columns offer-status">
      <div class="time-details">
        Submitted: 12 Feb '16
      </div>
      <div class="state">
        Active
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main_details">
      <div class="small-2 columns icons">
        <i class="fa fa-users"></i>
      </div>
      <div class="small-10 columns">
        The Society for the Aid and <br>
        Rehabilitation of Drug Abusers(SWD)
      </div>
    </div>
  </div>

  <div class="row">
    <div class="main_details">
      <div class="small-2 columns icons">
        <i class="fa fa-user"></i>
      </div>
      <div class="small-8 columns user_name">
        Rebecca Yeung
      </div>
      <div class="small-2 columns icons">
        <i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <div class="client_details">
    <div class="row">
      <div class="small-4 large-2 columns icons">
        Client name:
      </div>
      <div class="small-8 large-10 columns user_name">
        Mr CHAN Benjamin
      </div>
    </div>

    <div class="row">
      <div class="small-4 large-2 columns icons">
        HKID
      </div>
      <div class="small-8 large-10 columns user_name">
        *******321
      </div>
    </div>

    <div class="row">
      <div class="small-4 large-2 columns icons">
        Reference #:
      </div>
      <div class="small-8 large-10 columns user_name">
        12344321
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns item_count">
      <span>Items</span> (10 Designated, 1 Dispatched)
    </div>
  </div>

  <div class="row add_item_button">
    <div class="small-9 columns">
      <button class="button expand">Add an item to this order</button>
    </div>
    <div class="small-3 columns">
      <button class="button expand"><i class="fa fa-qrcode"></i></button>
    </div>
  </div>

  {{partial "orders/item_block"}}
  {{partial "orders/item_block"}}
  {{partial "orders/item_block"}}

  <div class="row">
    <div class="small-12 columns show_more">
      Show more items <i class="fa fa-angle-down back_icon" aria-hidden="true"></i>
    </div>
  </div>

  <div class="other_details">
    <div class="row heading">
      <div class="small-12 columns">
        Details
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Activity:
      </div>
      <div class="small-8 columns">
        Community Development
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Description:
      </div>
      <div class="small-8 columns">
        We give migrant mothers the tools to understand their more
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">
        Purpose:
      </div>
      <div class="small-8 columns">
        To equip our offer so that we can better serve our consituents more
      </div>
    </div>
  </div>

</section>
