<div class="row item_block">
  <div class="row dispatch_details">
    <div class="small-4 columns">
      <i class="fa fa-shopping-basket"></i> L20012
    </div>
    <div class="small-3 columns">
      <i class="fa fa-map-marker"></i> 20-348
    </div>
    <div class="small-5 columns">
      <i class="fa fa-tag"></i> 12-733-622
    </div>
  </div>

  <div class="row">
    <div class="small-3 large-2 columns image">
      <img src="assets/images/default_item.jpg" class="thumb cl-item-image">
    </div>
    <div class="small-9 large-10 columns name_details">
      <div class="name">12 x Display shelf</div>
      <div class="">
        Black, wooden ikea bookshelf.
        Modular design
      </div>
    </div>
  </div>
</div>
