.item_details_screen {

  .set_details {
    color: $white;
    padding: 0.5rem;
    font-size: 0.95rem;

    .set_name {
      font-weight: 900;
    }
    .set_type {
      font-size: 0.8rem;
    }
  }

  .dispatch_details {
    font-weight: 900;
  }

  .search {
    margin-top: 0;
  }

  span.back_link {
    top: 0.95rem;
    left: 15.5rem;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    z-index: 1;
    i {
      @media #{$small-only} {
        margin: 0.35rem 0 0 -0.9rem;
        width: 2rem;
        height: 2rem;
        line-height: 1.2rem;
        left: 0.65rem;
      }
      position: absolute;
      font-weight: bolder;
      color: black;
      height: 1.2rem;
      width: 1.2rem;
      font-size: 2rem;
      line-height: 1.7rem;
      left: 0.1rem;
    }
    @media #{$medium-only} {
      left: 0.5rem;
    }
    @media #{$small-only} {
      top: 0.5rem;
      left: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .no-padding {
    padding: 0
  }

  .dispatch_details {
    margin-bottom: 1rem;

    @media #{$small-only} {
      font-size: 0.77rem;
      line-height: 0.8rem;
    }
  }

  .profile_container {
    height: 13rem;
    overflow: hidden;

    @media #{$small-only} {
      height: 12rem;
    }

    .profile {
      background-size: cover !important;
      width: 100%;
      height: 13rem;
      object-fit: cover;
      @media #{$small-only} {
        height: 12rem;
      }
    }
  }

  .thumb {
    width: 5rem;
    @media #{$small-only} {
      width: 3rem;
    }
  }

  .detail-section {
    padding-bottom: 0.5rem;
    font-size: 0.68rem;

    .columns {
      padding: 0.2rem 0.5rem;
    }

    span {
      float: right;
      color: $medium-blue;
    }

    .value {
      color: $white;
      font-size: 0.7rem !important;
    }

    .description {
      padding-left: 1.1rem !important;

      @media #{$small-only} {
        padding-left: 0.9rem;
      }
    }

    .item_options_component {
      z-index: 10;
      color: $white;

      .options-link-open  {
        color: $medium-blue;
      }
    }
  }

  .no_image {
    text-align: center;
    margin-top: 15%;
    font-size: 1rem;

    @media #{$small-only} {
      margin-top: 25%;
    }

    i {
      margin-right: 0.5rem;
    }
  }
}

.image-action-list {
  right: 16rem;
  top: 10.5rem;
  position: absolute;

  @media #{$small-only} {
    right: 0rem;
    top: 9rem;
  }
  @media #{$medium-only} {
    right: 0rem;
  }

  >div {
    display: inline-block;
  }

  span {
    cursor: pointer;
  }
}

.no-avatar {
  @media #{$small-only} {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  display: inline-block !important;
  margin-right: 1rem;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;

  display: block;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;
  background: $white;
  font-weight: bold;
  margin-top: 0.2rem;
  border: 1px solid $medium-blue;

  i {
    color: black;
  }
}

.stock_status{
  float: left;
}

.publish-form {
  #messageBox {
    padding: 1rem 1.5rem 0rem;
  }
  .publish_message {
    text-align: left;
    font-size: 0.9rem;
  }
}

.printer_message {
  background-color: $light-grey;
  color: black;
  height: initial;
  padding-bottom: inherit;
  min-height: 0rem;
  position: fixed;
  display: none;
  opacity: 1;
  z-index: 100;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f46769;
  color: white;
  border-radius: 0.2rem;

  @media #{$small-only} {
    top: 1rem !important;
  }

  @media #{$medium-only} {
    width: 25rem;
  }
}

.printer_message_block {
  position: fixed;
  z-index: 1000;
  right: 11rem;
  top: 3rem;

  @media #{$small-only} {
    right: 9rem;
  }

  .printer_message {
    display: block;
    width: 8rem;
  }
}

.visible {
  display: block !important;
}
.scan-icon i {
  color: $tabbar-menu-icon-color;
  font-size: 1.5rem;
  padding: 0.15rem 0.4rem;
}

.donation-input-error {
  padding-left: 0.2rem;
  color: white;
  margin-left: -0.2rem;
  margin-top: -0.8rem;
  background-color: red;
}

.description-textarea {
  background-color: #002352;
  color: white;
  font-size: 0.7rem;
  border: none !important;
  border-style: none !important;
  padding: .3rem 1.5rem .3rem .4rem !important;
  box-shadow: none !important;
  margin: -0.3rem -0.3rem 0 -0.4rem;
  text-decoration: none !important;
}

.donation-input-error, .description-error {
  padding-left: 0.2rem;
  color: white;
  margin-left: -0.2rem;
  margin-top: -1rem;
  background-color: #f46769;
  width: 100%;
}

.description-error {
  margin: -0.2rem 0 0 -0.4rem !important;
  width: 100% !important;
}

.numeric-input, .inline-input, .item-type {
  border: none !important;
  background-color: #002352 !important;
  padding: 0rem !important;
  color: white !important;
  border-style: none !important;
  box-shadow: none !important;
  height: inherit !important;
  font-size: 0.7rem !important;
}

.quality {
  top: -0.3rem;
}

.select-quality, .select-condition {
  display: inline-block !important;
  span.input_text {
    position: absolute;
    color: white !important;
    line-height: 1.7rem;
    z-index: 10;
  }

  .condition-margin, .grade-margin {
    margin-left: 1.2rem !important;
    width: 82% !important;
    padding-right: 0rem !important;
    select {
      margin-left: -1.5rem !important;
      padding-left: 4rem !important;
      width: 140% !important;
    }
  }
  .grade-margin {
    select {
      width: 145% !important;
      margin-left: -1.8rem !important;
      padding-left: 3rem !important;
    }
  }

 select {
  @media all {
    border: none !important;
    background-image: none !important;
    background-color: #002352 !important;
    color: white !important;
    font-size: 0.7rem !important;
    padding: 0 0.1rem 0 0;
    border-radius: 0;
    height: 1.5rem;
    margin-left: 2.5rem;
    }
  }
  .select:after {
    top: 0.25rem;
    right: 0.4rem !important;
  @media #{$small-only} {
    width: 50% !important;
   }
  }
  .select:after {
    top: 0.25rem;
    right: 0.2rem !important;
    @media #{$small-only} {
      right: -0.4rem !important;
    }
    @media #{$medium-only} {
      right: 0.6rem !important;
    }
  }
}

.select-condition {
  margin-left: -0.5rem;
}

.condition-field {
  top: -0.3rem !important;
}

.donation-field {
  float: left !important;
  top: -0.1rem;
}

.numeric-inline-input, .inline-text-input, .item-description-textarea {
  border: 1px solid #8091a9 !important;
}

.item-height, .item-width, .item-length {
  width: 70% !important;
  padding: 0.2rem !important;
  display: inline-block !important;
  @media #{$small-only} {
    width: 49% !important;
  }
}

.item-description-textarea {
  background-color: #002352 !important;
  color: white !important;
}

.donation-input {
  padding: 0.2rem !important;
  margin-left: -0.2rem !important;
}

.donation-scanner {
  padding-top: 0rem !important;
}
