.partial_undesignate_textfield {
  margin-left: -4px;
  background-color: #002352;
  color: white;
  input {
    height: 43px !important;
    width: 75% !important;
    font-size: 0.75rem;
    background-color: #002352;
    border: 1px solid #8091a9;
    color: white;
    margin-left: -4px !important;
  }
}
.partial_undesignation {
  background-color: #002352;
  color: white;
}

.undesignate-buttons {
  margin-top: 1rem !important;
}
.partial_undesignate_block {
  margin: 0 -0.8em 0 0.8em !important;
}
.undesignate-message {
  margin-left: 2%;
}

.already_dispatched {
  margin-left: -3%;
  font-size: 0.8rem;
}

