.partial_undesignate_textfield {
  margin-left: -4px;
  background-color: #002352;
  color: white;
  input {
    height: 43px !important;
    width: 75% !important;
    font-size: 0.75rem;
    background-color: #002352;
    border: 1px solid #8091a9;
    color: white;
    margin-left: -4px !important;
  }
}
.align-right{
  text-align: right;
}
.partial_undesignation {
  background-color: #002352;
  color: white;
}

.undesignate-buttons {
  margin-top: 1rem !important;
}
.partial_undesignate_block {
  margin: 0 -0.8em 0 0.8em !important;
}
.undesignate-message {
  margin-left: 2%;
}

.already_dispatched {
  margin-left: -3%;
  font-size: 0.8rem;
}

.undesignate-header {
  margin: 1rem 0 0 0.3rem;
  .back-link {
    margin-left: -2%;
    i {
      vertical-align: -webkit-baseline-middle;
      font-size: 2.2rem;
      padding-bottom: -1rem;
      margin-top: -0.6rem;
      @media only screen and (max-width: 20em) {
        font-size: 1.8rem !important;
      }
    }
    .back-text {
      display: inline;
      @media only screen and (max-width: 20em) {
        font-size: 0.7rem !important;
      }
    }
  }
  .inventory-status {
    color: white;
    padding-left: 7.5rem;
    font-size: 1rem;
    @media #{$small-only} {
      padding-left: 2.5rem;
      font-size: 0.85rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.75rem !important;
    }
  }
}

.available-items {
  margin: 0 0 2rem 0.5rem;
  .available-lebel {
    color: white;
    @media #{$small-only} {
      font-size: 0.85rem;
    }
    .available {
      @media #{$small-only} {
        font-size: 0.85rem !important;
      }
      @media only screen and (max-width: 20em) {
        font-size: 0.7rem !important;
      }
    }
    .private {
      font-size: 0.85rem;
      @media #{$small-only} {
        font-size: 0.7rem !important;
      }
      @media only screen and (max-width: 20em) {
        font-size: 0.6rem !important;
      }
    }
  }
  .available-quantity {
    padding: 0.15rem 0 0 3rem;
    @media #{$small-only} {
      padding-left: 1.1rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .publish-item {
    margin-top: 0.1rem;
    padding-left: 3rem;
    @media #{$small-only} {
      padding-left: 1rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
      padding-left: 0.7rem !important;
    }
  }
}

.designated-items {
  margin: 2rem 0 0 0.5rem;
  @media #{$small-only} {
    margin: 1rem 0 0 0.5rem !important;
  }
  .designated-block {
    color: white;
    @media #{$small-only} {
      font-size: 0.85rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .designated-quantity {
    padding: 0.15rem 0 0 6.5rem;
    @media #{$small-only} {
      padding-left: 2.8rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
      padding: 0 0 0 6.5rem;
      padding-left: 2.5rem !important;
    }
  }
}


.modify-packages {
  margin-left: 1rem;
  @media only screen and (max-width: 35em) {
    margin-left: 0.2rem !important;
  }
  i {
    font-size: 1.7rem;
    padding: 0.7rem 0.7rem 0.3rem 0.7rem;
    @media #{$small-only} {
      font-size: 1.5rem !important;
      padding: 0.4rem 0.4rem 0.1rem 0.4rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 1.2rem !important;
      padding: 0.4rem 0.3rem 0.1rem 0.5rem !important;
    }
  }
  .modify-text {
    @media only screen and (max-width: 20em) {
      font-size: 0.6rem !important;
    }
  }
}

.dispatch-packages {
  margin-right: 2.2rem;
  @media #{$small-only} {
    margin-right: 1.8rem ;
  }

  i {
    font-size: 1.7rem;
    padding: 0.7rem 0.7rem 0.3rem 1rem;
    @media #{$small-only} {
      font-size: 1.5rem !important;
      padding:  0.4rem 0.2rem 0.1rem 0.6rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 1.2rem !important;
    }
  }
  .dispatch-text {
    @media only screen and (max-width: 20em) {
      font-size: 0.6rem !important;
    }
  }
}

.first {
  margin: 0.5rem 0 0 0.5rem !important;
}


.item-status-header {
  margin: 2rem 0 0 0.5rem;


  .item-status-block {
    color: white;
    @media #{$small-only} {
      font-size: 0.85rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .item-status-quantity {
    text-align: right;
    padding-right: 3.5%;
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;

    }
  }
}

.order-block {
  margin-top: 1rem;

  .package-list {
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-left: 1rem;
    width: 64%;
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }

  .light-theme{
    background: #001C42;
  }

  .dark-theme{
    background: #334f75;
  }

  .orders-package-detail, .organisation-name {
    padding-left: 0rem;
  }

  .orders-package-quantity {
    text-align: right;
    padding-left: 1.7rem;
    @media #{$small-only} {
      padding-left: 0 !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }

  }
}

.undispatch-packages {
  margin-right: 3.4rem;
  @media #{$small-only} {
    margin-right: 2.7rem !important;
  }
  i {
    font-size: 1.7rem;
    padding: 0.7rem 1rem 0.3rem 1.5rem;
    @media #{$small-only} {
      font-size: 1.5rem !important;
      padding:  0.4rem 0.2rem 0.1rem 0.9rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 1.2rem !important;
    }
  }
  .undispatch-text {
    @media only screen and (max-width: 20em) {
      font-size: 0.6rem !important;
    }
  }
}

.status-qty {
  @media only screen and (max-width: 20em) {
    font-size: 0.6rem !important;
  }
  margin-left: 4%;
}

.status-block {
  margin-bottom: 2rem;
  @media #{$small-only} {
    margin: 0 1.5% 2% -1.5% !important;
  }
}
