.move_location_header {
  margin: 1rem 0 0 0.3rem;

  i {
    vertical-align: -webkit-baseline-middle;
    font-size: 2rem;
    margin-top: -0.2rem;
  }
  .back-link {
    i {
      vertical-align: -webkit-baseline-middle;
      font-size: 2.2rem;
      padding-bottom: -1rem;
      margin-top: -0.6rem;
      @media only screen and (max-width: 20em) {
        font-size: 1.8rem !important;
      }
    }
    .back-text {
      display: inline;
      @media only screen and (max-width: 20em) {
        font-size: 0.7rem !important;
      }
    }
  }
  .inventory_number_location{
    color: white;
    padding-left: 6.5rem;
    font-size: 1rem;
    i {
      font-size: 1rem;
      margin-top: -0.6rem;
    }
    @media #{$small-only} {
      padding-left: 1.5rem;
      font-size: 0.85rem !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.75rem !important;
    }
  }
}

.packages-location-block {
  margin-top: 1rem;
  .designated-list {
    color: white;
    padding: 1rem;
    background: #334f75 !important;
    margin-left: 3%;
    width: 94%;
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .orders-package-quantity {
    padding-left: 1.7rem;
    @media #{$small-only} {
      padding-left: 0 !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .move-qty{
    @media #{$small-only} {
      margin-top: -1.5%;
      margin-bottom: -1%;
    }
    input{
      @media #{$small-only} {
        float: right;
        width: 3rem;
        height: 1.7rem;
        margin: 0;
        font-size: 0.7rem !important;
        padding-top: 0.4rem !important;
        text-align: center;
      }
      @media #{$medium-only} {
        width: 6rem;
        height: 2rem;
        margin: 0;
        padding: 0;
        float: right;
        text-align: center;
        font-size: 1rem;
        padding-right: 0.3rem !important;
      }
      @media #{$large-only} {
        padding: 0;
        margin: 0;
        width: 7rem;
        height: 2.5rem;
        float: right;
        text-align: center;
      }
    }
  }
  .move-link{
    // padding-left: 20%;
    text-decoration: underline;
  }
  .packages-location-quantity{
    // padding-left: 20%;
  }
}

.packages-location-header {
  .designated-list {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 3%;
    width: 94%;
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
  .orders-package-quantity {
    padding-left: 1.7rem;
    @media #{$small-only} {
      padding-left: 0 !important;
    }
    @media only screen and (max-width: 20em) {
      font-size: 0.7rem !important;
    }
  }
}

.location-name{
  padding-left: 4%;
}

.total-to-move{
  color: $coral-red;
  padding: 1rem 2rem;
  float: right;
}
.partial-move-buttons{
  padding-left: 2.5%;
  padding-right: 2.5%;
  #not-now{
    background-color: #002352;
    border-color: white;
  }
}

.proceed-to-choose-destination{
  padding-left: 3%;
}

.text-align-right{
  text-align: right;
}

.padding-zero{
  padding: 0;
}
