.partial_designate_textfield {
  margin-left: -4px;
  background-color: #002352;
  color: white;
  input {
    height: 43px !important;
    width: 75% !important;
    font-size: 0.75rem;
    background-color: #002352;
    border: 1px solid #8091a9;
    color: white;
    margin-left: -4px !important;
  }
}
.partial_designation {
  margin-bottom: 1.5rem;
}
