{{#link-to 'order' 1234 tagName='li' href=false}}

    <div class="row state_details">
      <div class="small-5 columns">
        L21654 - Active
      </div>
      <div class="small-4 columns">
        10 <i class="fa fa-shopping-basket"></i>
        0 <i class="fa fa-ship"></i>
      </div>
      <div class="small-3 columns">
        12 Feb '16
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        International Social Service Hong Kong Branch
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        Rebecca Yeung: 3111 1111 for Mr CHOW Yuk-ming
      </div>
    </div>

{{/link-to}}
