{{#init-foundation}}
  <nav class="tab-bar">
    <section class="left-small">
      {{#link-to "search_organisation" classNames="back" }}
        <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
        <div>{{t 'back'}}</div>
      {{/link-to}}
    </section>
    <section class="middle tab-bar-section">
      <h1 class="title">
        {{t "organisation"}}
      </h1>
    </section>
  </nav>
{{/init-foundation}}
