<nav class="tab-bar">
  <section class="left-small">
    {{#link-to "index" classNames="back" }}
      <i class="fa fa-angle-left back_icon" aria-hidden="true"></i>
      <div>{{t 'back'}}</div>
    {{/link-to}}
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">
      {{t 'menu'}}
    </h1>
  </section>
</nav>

<div class="small-12 columns center-text">
  <ul class="vertical menu off-canvas-list">
    <li>{{#link-to 'search_organisation'}}Manage charity users{{/link-to}}</li>
  </ul>
</div>
