{{#init-foundation}}
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>
        <section class="middle tab-bar-section">
          <h1 class="title">
            Stock App
          </h1>
        </section>
          <div class="small-12 columns center-text">
            {{#if stockAppVersion}}
              <h1> {{t 'version'}}{{stockAppVersion}} </h1>
            {{/if}}
            {{#link-to 'search_code' (query-params backToNewItem=false)}}Add item to inventory{{/link-to}}
          </div>
      </nav>
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li>{{#link-to 'search_organisation'}}Manage charity users{{/link-to}}</li>
        </ul>
      </aside>
    </div>
  </div>
{{/init-foundation}}
