<nav class="tab-bar">
  <section class="middle tab-bar-section">
    <h1 class="title">
      {{t 'menu'}}
    </h1>
  </section>
</nav>

<div class="row search">
  <div class="small-12 columns">
    <ul class="list list-activity">
      <li>{{#link-to 'search_organisation'}}Manage charity users{{/link-to}}</li>
    </ul>
  </div>
</div>

{{partial "sticky_footer"}}

