<section class="main-section start_page">

  <div class="row">
    <div class="small-12 columns center-text">
      <h1>Hello World</h1>
      {{#link-to 'search_code'}}Add item to inventory{{/link-to}}
    </div>
  </div>

  {{partial "sticky_footer"}}
</section>
