<section class="main-section start_page">
  <a class="exit-off-canvas">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="middle tab-bar-section">
            <h1 class="title">
              Stock App
            </h1>
          </section>
          <div class="small-12 columns center-text">
            {{#if stockAppVersion}}
              <h1> {{t 'version'}}{{stockAppVersion}} </h1>
            {{/if}}
            {{#link-to 'search_code' (query-params backToNewItem=false)}}Add item to inventory{{/link-to}}
          </div>
        </nav>
      </div>
    </div>
    </a>
  {{partial "sticky_footer"}}
</section>
