<div class="loading-image-indicator hide_image_loading">
  <div>
    <i class="fa fa-spinner fa-spin"></i> {{loadingPercentage}}
    <div><a href="#" {{action "cancelUpload"}}>{{t "cancel"}}</a></div>
  </div>
</div>
