<div class="footer">
  <div class="navigation_menus">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-5 list">
          {{#link-to 'index' tagName='li' href=false}}
            <i class="fa fa-home"></i>{{t "index.home"}}
          {{/link-to}}

          {{#link-to 'orders' tagName='li' href=false}}
            <i class="fa fa-shopping-basket"></i>{{t "index.orders"}}
          {{/link-to}}

          {{#link-to 'items' tagName='li' href=false}}
            <i class="fa fa-cube"></i>{{t "index.items"}}
          {{/link-to}}

          <li><i class="fa fa-qrcode"></i>{{t "index.goto"}}</li>
          <li>
            <nav class="tab-bar" style="border-bottom: none!important">
              <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
